[2021-11-27 18:19] ritaniu0202 opened #1 "error fetching channels: slack rate limit exceeded, retry after 3s"
Hi,

I keep getting the above message when I try to retrieve the channel list, even when I specify a channel id. Is there any way to fix it?

Thanks!

[2021-11-30 19:58] rusq commented on #1
Hey, @ritaniu0202 , even when you specify the channel id, the slackdump prefetches the list of channels to be able to resolve the references in the messages text.

I'll look into implementing handling of the rate limiting. Another option would be to disable prefetch on request forfeiting link resolving function.

[2021-12-02 23:37] tuftik opened #2 "Dump threads"
Hello.

Is it possible also dump threads messages and files? Because it's a huge part of useful data :) For now at export results are only top level messages.

For info:
- [Slack Help - Use threads to organise discussions](https://slack.com/intl/en-in/help/articles/115000769927-Use-threads-to-organise-discussions-);
- [Slack API - conversations.replies method](https://api.slack.com/methods/convers

[2021-12-05 21:33] rusq commented on #2
Hey, thanks for the suggestion, this tool initially pre-dates threads in slack - that would be a nice feature to have.  I'll have a look.

[2021-12-06 11:39] rusq commented on #1
@ritaniu0202, do you know approx how many channels does your workspace has?

What happens when you run:
[code]
?

[2021-12-06 20:27] #1 closed

[2021-12-06 20:35] rusq commented on #1
This should be fixed now, please get the new build from the releases page.  Let me know if it persists.

[2021-12-11 01:57] rusq commented on #2
Hey @tuftik I have merged the change to master, let me know if it works for you?

Download is available in [this pre-release](https://github.com/rusq/slackdump/releases/tag/v1.1.0), let me know if it works on your workspace (works on mine, but everything usually works on developer's machine), and I'll mark it as release.

[2021-12-13 20:17] #2 closed

[2021-12-17 23:28] blackdrago opened #7 "Release for Mac OS X?"
I downloaded the Linux release to attempt to execute on my Mac OS X machine. I've checked the file settings, and it's executable, but when I try to run it, I keep getting "slackdump: command not found".

Have I missed a step during unpacking? (I simply unzipped the file and proceeded). Or did I download the wrong release file?

I'm new to Go, so I apologize if I'm missing something super obvious.

[2021-12-17 23:32] rusq commented on #7
Hey @blackdrago ,

It seems that there's possibly two possible issues here:
1. Linux version does not run on Mac
2. You're trying to execute slackdump, but it's not in your path.

Fixes:
1. For MacOS you should download [slackdump-darwin.zip](https://github.com/rusq/slackdump/releases/download/v1.1.1/slackdump-darwin.zip)
2. When unpacked, try running it like this `./slackdump` - this will execute

[2021-12-20 09:42] #7 closed

[2022-01-18 20:41] rusq opened #8 "Batch export"
There was a suggestion in telegram channel to add an option to export all the data from a slack workspace (all channels, all users).

[2022-01-18 20:43] rusq opened #9 "Compatibility with slack-export format"
Suggestion in the telegram channel to be able to open the export with https://github.com/hfaran/slack-export-viewer.  For this, will need to adjust the export structure to match that of slack export.  Example: https://github.com/hfaran/slack-export-viewer/blob/master/tests/testarchive.zip

[2022-01-19 20:25] tshddx opened #10 "Feature request: Support naming output files/directories with the actual channel/DM name"
This is easy enough to script in bash using the `-c` channel output, but it could be a nice feature to support this natively.

[2022-01-20 16:54] tessus opened #11 "how to export a specific thread?"
I came across this great tool, but I am a bit puzzled as to how to export/dump a specific thread.
Channels can be extremly large and I am intersted in a specific thread. How can I export that thread alone?

In an org with 2000 channels `slackdump -c` would not give me a specific thread id, or at least I probably won't find it in there.
When I copy a link to a thread in Slack, I get 2 ids in the li

[2022-01-20 18:15] tshddx commented on #11
`slackdump -c` works for me. It outputs a table like this:

[code]

[2022-01-20 18:41] tessus commented on #11
Hmm, I thought I was clear in my desciption. Take a random channel and start a thread in that channel. Now I want to export this single thread. (The message and all replies to that message (reply in thread)). I do not need the 500,000 other messages in that channel. I only need this single thread.

[2022-01-20 19:47] tshddx commented on #11
Oh sorry, you're talking about actual "threads" in Slack. I.e. conversation replies. This command line tool doesn't expose that functionality directly, but it probably wouldn't be too hard to directly expose the [`dumpThread`](https://github.com/rusq/slackdump/blob/4040bcaf702f07db624a0e777b491cabe29d9d44/slackdump.go#L213) function. The underlying Slack API method this uses is here: https://api.s

[2022-01-20 20:22] tessus commented on #11
Cool, thanks. I will have a look at it when I have a bit more time. If there is an API call available, it shouldn't be too hard to add to the script.

[2022-01-20 22:09] rusq commented on #11
Hey @tessus, unfortunately currently there's no way currently to dump a specific thread without dumping the whole conversation/channel.  Threads support was added recently and there's certainly may ways of improvement.  That's a good suggestion, thank you, i'll look into that.

[2022-01-20 22:12] rusq opened #12 "Hitting 429 on a large channel with files"
Telegram channel:

[code]

We should either die with error or retry, and we do neither.

Follow up:

[2022-01-21 22:13] foucist commented on #12
I'm also getting this error when I'm getting to 1800 messages on a channel I'm trying to dump.  It would be nice if it could write whatever it had to a file instead of just exiting.

By the way I tried changing the tier values & recompiling, but even at 1/10/25/50 it still throws the same error "slack rate limit exceeded, retry after 1s" after 1800 messages.

[2022-01-22 05:26] rusq commented on #12
Hey @foucist  thanks for confirming, yes, this message is from the slack library.

It's interesting that it hits the rate limit after 1800 messages square.

I suspect that it is because of there was no limiter on files downloads, so now file downloader and message dumper use the same limiter instance (see #13).  Would you be able to  check, if you compile the branch "rate-limit" would it be able t

[2022-01-22 09:02] #12 closed

[2022-01-23 12:46] shi-bmz commented on #1
I'm seeing a similar problem when I try to download a single channel (it manages to get 820 files, then stops with the message "slack rate limit exceeded, retry after 1s").  Would it be possible to provide a command-line argument for adjusting the rate of requests?  I got this error on linux, then tried downloading the latest Windows build in the hopes that the extra delay imposed by my VPN connec

[2022-01-23 12:47] shi-bmz opened #14 "slack rate limit exceeded (again)"
I'm seeing a similar problem to #1 when I try to download a single channel (it manages to get 820 files, then stops with the message "slack rate limit exceeded, retry after 1s").  Would it be possible to provide a command-line argument for adjusting the rate of requests?  I got this error on linux, then tried downloading the latest Windows build in the hopes that the extra delay imposed by my VPN

[2022-01-23 20:49] rusq commented on #14
@shi-bmz the release doesn't have it yet, I wanted to implement #11  and #10  before tagging the next version.

Can you try this build? I built the latest master, that has this fix.

[slackdump-linux.zip](https://github.com/rusq/slackdump/files/7921377/slackdump-linux.zip)
[slackdump-windows.zip](https://github.com/rusq/slackdump/files/7921378/slackdump-windows.zip)
[slackdump-darwin.zip](https://

[2022-01-24 17:37] craigrandall commented on #2
Hi @rusq.

I can confirm that the original JSON output does, in fact, contain expected thread content (e.g. the "slackdump_thread_replies" array). Unfortunately, the associated text output does not.

When is support planned for text output? Thank you

[2022-01-24 17:37] craigrandall opened #15 "Threads in text output, not just JSON output"
Hi @rusq.

I can confirm that the original JSON output does, in fact, contain expected thread content (e.g. the "slackdump_thread_replies" array). Unfortunately, the associated text output does not.

When is support planned for text output? Thank you

_Originally posted by @craigrandall in https://github.com/rusq/slackdump/issues/2#issuecomment-1020363214_

[2022-01-24 18:00] foucist commented on #14
@rusq BTW, I tried the new build and it works!   Minor note - it's significantly slower on the initial fetch to 800 messages.  Might be using the wrong tier?  I assume the original speed would've been fine right up until the 429 retry happens.

[2022-01-24 18:42] foucist commented on #9
I checked a couple of other viewers, they seem to expect a directory that follows a certain format, which includes users.json and so on.

[2022-01-24 18:57] craigrandall commented on #15
These reported results were from v1.1.1 (on Windows).

[2022-01-25 10:55] rusq commented on #15
Cool, I haven't implemented yet, but probably should have already :) Will see into this after #11

[2022-01-25 11:03] rusq commented on #14
I may have overdone it with throttling, I'll see if I can fine tune or ditch it altogether and rely just on slack rate limiting.

[2022-01-25 13:07] rusq commented on #14
Hey @foucist, I've added a couple of params as described in #17 , here's the build if you want to give it a go.

[slackdump-windows.zip](https://github.com/rusq/slackdump/files/7933740/slackdump-windows.zip)
[slackdump-linux.zip](https://github.com/rusq/slackdump/files/7933739/slackdump-linux.zip)
[slackdump-darwin.zip](https://github.com/rusq/slackdump/files/7933738/slackdump-darwin.zip)

[2022-01-25 17:00] foucist commented on #14
@rusq Nice, it's much faster now.  I didn't even notice if the 429 even got triggered so possibly could bump it up with limit-boost if needed, nice to have that option!   Quick question: do you need to cache the whole list of channels when I'm only dumping one specific channel?  It takes about 5 minutes to fetch the users & channels for the slack I'm testing with, I wonder if it would be worth sav

[2022-01-25 21:42] rusq commented on #14
@foucist cool, I agree caching is questionable, I don't even remember what was the reason I did it for TBH, but removing it is on my TODO list.  Great to hear that it worked!

[2022-01-25 21:52] rusq opened #18 "Remove the channel/users caching."
User cache is mostly used for outputting the username in the text output
Channels? I don't remember.

[2022-01-25 21:53] rusq commented on #14
I'll close this one, created #18 to track the cache removal/optimisation

[2022-01-25 21:53] #14 closed

[2022-01-25 23:43] blackdrago commented on #7
This worked perfectly for me! Thank you!

[2022-01-26 01:12] #18 closed

[2022-01-26 01:13] rusq commented on #15
Fixed in #20 :) @craigrandall

[2022-01-26 01:26] #15 closed

[2022-01-26 05:18] craigrandall commented on #18
Just a brief note that v1.2.1 performs SOOO much better than v1.1.1. Where I had rate limit issues before, they are gone! The text formatting of message threads is also most welcome. Thanks @rusq for the quick turnaround!

[2022-01-26 06:49] rusq commented on #18
No problem :) Thanks for the feedback, I'm glad that it's useful.

[2022-01-27 20:33] shi-bmz commented on #14
@foucist thanks a bunch for this!  I tried the latest (linux) release that you posted above, and got:
`./slackdump: cannot execute binary file: Exec format error`
I then tried the (linux) version you posted previously, and it worked nicely -- thanks again!

[2022-01-28 03:55] cowsaysfoo opened #22 "Implement builds/releasing in Github Actions/Travis CI to ensure that release binaries builds can be validated"
Just, FYI, something in the windows binary releases is getting flagged by some of the (more exotic) scanners in VirusTotal (Cylance, Cynet, MaxSecure, and SecureAge APEX).  Reads clean on everything else. Likely a false positive, but, figured it was worth mentioning. (Maybe it's a compiler setting or an AV-AI confused by Go?)

**To Reproduce**
Upload binary to VirusTotal, see red text, panic.

**E

[2022-01-28 09:52] rusq commented on #22
Hey, thanks for flagging. That’s fine,  I have no control over what
compiler compilurates over there, or what heuristics analyser  so I guess
if someone is in doubt just shouldn’t be running it. One can compile it
from source anyway.  I’ve seen some positives on go binaries in the past.
As long as KAV, Clamav and defender are green, I wouldn’t worry about it.

But probably I should set up some CI

[2022-01-28 09:54] rusq commented on #22
TODO
- [ ] setup CI to build for different arches.

[2022-01-29 13:13] rusq commented on #11
There's a draft implementation in a `url-dl` branch, if you want to try it out.  I'm just finishing some tests and planning to do some docs as well, when the constellations properly aligned.

You can check it out with
[code]

compile:
[code]
Or, alternatively use these binaries:
[slackdump-linux.zip](https://github.com/rusq/slackdump/files/7963724/slackdump-linux.zip)
[slackdump-windows.zip](https

[2022-01-29 22:09] tessus commented on #11
Awesome, I will test it in a couple of days.

[2022-02-04 23:58] jacknichols63 opened #23 "slackdump -c does not work"
Hello.
slackdump -c does not work for me. My secrets.txt file has the two parameters SLACK_TOKEN and COOKIE provided but I am getting invalid_auth.

Here is what I get:

❯ ./slackdump -c
2022/02/04 18:43:32 > caching users...
2022/02/04 18:43:32   caching users for the first time
2022/02/04 18:43:33 error fetching users: invalid_auth

[2022-02-05 01:50] rusq commented on #23
Make sure that your SLACK_TOKEN and COOKIE are set to correct values (i.e. there's been no glitch when you copy/pasted them, ensure there's no space creeped in etc.)

It's easy to validate what values slackdump sees - run it with `-h` and the token and cookie value will appear as default values for `-t` and `-cookie` parameters respectively, i.e.

[2022-02-06 02:48] #23 closed

[2022-02-10 01:46] Julgme opened #24 "I am using the IDs to export the chat. But the response is always the channel does not exist."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-02-10 05:47] rusq commented on #24
1) What version are you using?

2) Can you run:
[code]
this will create a json output of the channels list, and upload it to:

https://www.dropbox.com/request/eEK5YK1srbvXPyBmnvys

3) Also, could you please provide the command how're your running it?

[2022-02-10 16:40] Julgme commented on #24
I'm using the latest version shown : 1.2.1 using the windows version.
Forgot to mention this yest, but when I try to export the channel list it always gets stuck on retrieving data and probably timesouts. Is there some kind of logging I can look at?
However, I can export the user list just fine. Which Is what I used to get the ids.

The exact command I was using was: slackdump -r text -f U5B787Y45

[2022-02-11 02:55] rusq commented on #24
The reason you're getting channel_not_found is that you're providing the userID (U5B787Y45), while you need to provide the conversation id.  If you're unable to get the list of channels with -c, you can determine the conversation ID by copying the link to the conversation from the slack, it will look like

[2022-02-11 12:26] Julgme commented on #24
Ahh thanks. Yeah make sens user ID and conversation ID wouldn't be the same.
I managed to extract it now, using the ID from Slack url :) Thanks.

I've also uploaded the tracer to the link

[2022-02-11 22:36] rusq commented on #24
Thanks! Looked at the trace, it seems that slack rate limits us and tells us to wait for 3 seconds 3 times in a row.  The default number of retry attempts is 3, so we run out of those. I'll do something about this.

[2022-02-13 01:13] #11 closed

[2022-02-13 01:43] rusq commented on #11
@tessus merged, please use v1.3.0, the readme was updated too!

[2022-02-13 01:50] rusq opened #28 "exceeding amount of rate limit retry attempts on large amount of channels (known issue)"
if you're experiencing this, the current workaround on version 1.3.0 and prior is:
[code]
This make us stay within the [Tier 2](https://api.slack.com/docs/rate-limits).

**Describe the bug**
`./slackdump -c` on large amount of channels gets rate limited and we exceed the number of retry attempts (default: 3)

**Expected behavior**
We're not getting rate limited, or if we are, we're brave enough to

[2022-02-13 03:22] tessus commented on #11
I am sorry. I had so many meetings the last 2 weeks that my head was exploding half way through the day. I totally forgot to test and send you feedback. Next week should be a bit better and I will hopefully get to it.

But rest assured I will test this and use it. I really need this feature. ;-)

[2022-02-13 03:25] rusq commented on #11
No problem, hope it works for you!

[2022-02-16 13:16] dwiehoff opened #29 "Exceeding rate limit on channels with more than 100 messages"
**Describe the bug**
Script dumps nothing when slack rate limit is exceeded.

**To Reproduce**
Tried it with and without the `-limiter-boost`:
[code]
[code]

**Expected behavior**
App finishes the job or at least gives me the currently fetched messages.

[2022-02-16 13:49] #29 closed

[2022-02-16 22:09] kctessarek-tc commented on #11
Yes, it works! Nice.

I have noticed one small issue though. It might not have anything to do with this change though: certain characters are html encoded.

[code]

turns to

[code]

[2022-02-17 11:06] rusq commented on #11
@tessus thank you! Good catch with escaped characters - fixed it, will be available in 1.3.1, almost done with it, will update the releases in couple of days, just need to do some final testing.

[2022-02-20 12:28] rusq opened #30 "Specify oldest and latest timestamps for dumping"
Fantastic effort, very stable in the way it runs, robust (no crashes etc). In terms of features, is there a way to run this for specific dates? Eg just one day? (Unfortunately, I am only a user, so I can help with testing it and suggesting features)

_Originally posted by @mayookhl in https://github.com/rusq/slackdump/discussions/16#discussioncomment-2212455_

[2022-02-22 09:10] #28 closed

[2022-02-22 09:23] rusq commented on #30
Merged to master

[2022-02-22 09:23] #30 closed

[2022-02-23 11:15] #10 closed

[2022-02-24 23:48] rusq commented on #10
@tshddx sorry it took me a while to get to this, but it's resolved :)  you can use `-ft` to specify a name template.  For the channel name, this will do:

[2022-02-24 23:54] tshddx commented on #10
Wow, nice work! Thanks!

[2022-02-26 21:24] rusq commented on #24
@Julgme if you're still interested - you can try out the v1.3.3 release, it should't freak out on the large channel list.

What I've learned:
Slack always returns 100 or less channels per a single API call, I noticed that the returned amount of channels decreases, the longer we're trying to dump it.  When I tested, once the number of requests sent  was close to 100, (and number of channels retriev

[2022-03-02 21:18] Julgme commented on #24
Thanks, ah interesting. Thanks for looking into it, will try to test it out this week.

Its a big company, so 8000 channels is highly likely.

[2022-03-17 00:25] dzehme opened #40 "invalid_auth on some Slack workspaces"
**Describe the bug**
Using enterprise/paid version of Slack, after configuring a secrets.txt file, running slackdump -u, it is unable to download the users or anything else:
2022/03/16 20:19:25 > checking user cache...
2022/03/16 20:19:25   caching users for the first time
2022/03/16 20:19:25 error fetching users: couldn't fetch users

verbose output from slackdump -v -u:
2022/03/16 20:22:22 slack

[2022-03-18 03:45] rusq commented on #40
Hey @dzehme, this error is returned if for some reason slack API returns 0 users to a GetUsers request.

If your goal is to fetch the users only, then there's no quick workaround until I figure out what's going on.

But if you are after a conversation or a thread, you can run it like this:
[code]

Let me know if it works for you or you get `invalid_auth`.

If you still get `invalid_auth`, can you

[2022-03-19 13:12] dzehme commented on #40
So I am trying to do one conversation.   The conversation is "an archive of a deactivated account".
[code]
I have uploaded the trace.out for slackdump.exe -v -u -trace=trace.out command as well.   Thanks!

[2022-03-19 13:23] rusq commented on #40
Looks like you copied the URL from the browser address bar - try right clicking the conversation and choosing "copy link" - that is supported URL.  Maybe I should implement the support for address bar urls too

[2022-03-19 16:35] dzehme commented on #40
[code]
Now I am getting the invalid_auth.   I double checked the token and cookie and they are the same values that I had before.   So I think the trace I uploaded before should still be the problem.

[2022-03-20 04:45] rusq commented on #40
The error is the trace file is the same as you got during the last execution: "invalid_auth" which means that token and or cookie is invalid.  Slack sometimes rotates those, so:
1. can you make sure that you're using the valid token/cookie pair?
2. After you have verified that token and cookie is correct, and they match the ones that you have in secrets.txt, can you let me know if your environment

[2022-03-20 19:01] dzehme commented on #40
So I had verified the token and cookie when I had seen the invalid_auth.   Our environment does use SSO.

[2022-03-21 18:39] simao-silva commented on #40
I am using Linux and I've done the steps above but got the error `slack token or cookie not specified`

[2022-03-22 06:13] rusq commented on #40
Hey @simao-silva , when specifying the cookie file, do you specify the token as well?  The cookie file does not exclude the need for the token.

[2022-03-22 19:07] simao-silva commented on #40
@rusq I misspelled the name of the .env file. Still, I've got the error `invalid_auth: failed to authenticate:  please double check that token/cookie value are correct`

[2022-03-22 22:43] craigrandall opened #44 "Dump custom emojis"
Since custom emojis are an important aspect of Slack instance culture/comms, perhaps it makes sense for SlackDump to also dump custom emojis (e.g. via a new flag/arg/param to slackdump).

https://github.com/jason0x43/alfred-slack/blob/master/emoji.go provides one examples of leveraging the appropriate Slack API: https://api.slack.com/methods/emoji.list.

Thank you for considering!

[2022-03-24 12:05] rusq commented on #40
@simao-silva could you try the v1.3.5 release?

1. Login into slack in your browser.
2. Get the token the usual way, make sure it's the fresh one.
3. Save the cookies to disk with this [extension](https://chrome.google.com/webstore/detail/get-cookiestxt/bgaddhkoddajcdgocldbbfleckgcbcid).
4. Start slackdump using the following command:

[code]

This will output the user list to your terminal, if yo

[2022-03-25 01:01] simao-silva commented on #40
@rusq I am still getting `invalid_auth`. I've uploaded my trace.out to the link you provided.

[2022-03-25 07:49] rusq commented on #40
Hey @simao-silva , i've checked the trace, and there's nothing new there - token is detected, cookies are detected and are in a file.  Maybe that has something to do with your workspace setup?  I'm not sure - I don't have many slack instances to test, and on those that I do have access - I can't reproduce this.  I will park this issue for now, maybe someone with the knowledge of Go and with the sa

[2022-03-31 00:03] dzehme commented on #40
Just wanted to let you know that I finally got a chance to try this again tonight.   My token had not changed but I commented out the cookie in my secrets.txt so it just had the token.   I then created the cookies.txt file using the extension you recommended.   Then invoked your tool with -cookie cookies.txt and the URL for the conversation I wanted.  It downloaded the entire conversation.  Thank

[2022-03-31 00:03] #40 closed

[2022-04-02 01:27] rusq opened #48 "EZ Login"
Make it easier to grab the token+cookie.

Options:
- ms-playwright
- chromedp

[2022-04-03 03:46] rusq commented on #8
Will be implemented in #9

[2022-04-03 03:46] #8 closed

[2022-05-05 12:08] pican79 opened #54 "Internal Server Error when exporting a very large thread (800+ messages)"
**Describe the bug**
I'm trying to export a thread with more than 800 messages (as of today) but I get an error when I run the following command:
`./slackdump -r text https://xyz.slack.com/archives/RK9N4AFRB/p165158407`

This thread mostly contains images, some text messages, some links, standard/custom emojis/reactions.

I can export smaller threads (fewer than 5 messages) that are either older o

[2022-05-06 03:13] rusq commented on #54
Hey @pican79, do you mind rerunning it with `-trace=trace.out` flag, i.e.:
[code]
and then upload the `trace.out` to https://www.dropbox.com/request/eEK5YK1srbvXPyBmnvys ?

It is a curious case, because there's no technical difference between downloading a thread with 5 messages or with 800.

[2022-05-06 03:39] #22 closed

[2022-05-06 05:14] #9 closed

[2022-05-06 23:30] rusq commented on #54
No, credentials are blanked before writing the current config.  Trace.out is a binary file I'm not sure that you can easily edit it without breaking the structure.  The Dropbox link is private, and only I have access to the directory.  I'm not using the information from the trace files for anything else but trying to understand the issue.

You can run "go tool trace trace.out" on that file and see

[2022-05-07 00:05] rusq commented on #54
This is the corresponding code for v1.3.5 that blanks the creds: https://github.com/rusq/slackdump/blob/v1.3.5/cmd/slackdump/main.go#L106-L107

[2022-05-07 04:18] rusq commented on #54
I've been experimenting on my test Slack instance, and wasn't able to reproduce the error:
[code]

[code]

My steps were:
1. Generate a thread with 800 messages;
2. Dump the thread.

You can also try the version v2.0.0-alpha, i doubt that it will resolve the 500 internal error as it is a server-side error.  Let me know.

[2022-05-07 04:23] rusq commented on #54
Also, can you confirm that this is, aside, from the slack workspace name, a URL that you've been using to start slackdump?
[code]

The value `p165158407` is not a valid slack thread timestamp (it resolves to `Thu Mar 27 23:20:07 1975` which is not possible)

[2022-05-07 07:38] rusq commented on #48
Resolved in #57

[2022-05-07 07:38] #48 closed

[2022-05-07 13:29] pican79 commented on #54
You're right, the thread url timestamp I used in the bug description doesn't match anything I have in my command history.
Must've been a copy/paste error.

After modifying the url's human-readable characters in the trace.out file with a regular text editor, it was no longer usable with "go tool trace".

So I edited the hexa with vim (that was super fun).
The resulting file (20220507-1.out) still w

[2022-05-07 22:19] rusq commented on #54
Thanks @pican79 , the trace helped.

I noticed that `GetConversationRepliesContext` call "hangs in there" for 10 seconds (±0.3 sec) , before the server returns 500 Internal Server Error.  On my test environment this operation takes around 0.5 sec, it seems that thread you're trying to fetch is not only long, it's also fat.

I couldn't help myself but to go read the API docs again and noticed that

[2022-05-07 23:15] rusq commented on #54
I have built a v2.beta.2 which has the `-rpr` parameter, that allows to specify the "replies per request" value, it defaults to `200` messages per request (slack api default is 1000).

So, if the default doesn't work (if you still getting 500 Error), try decreasing it, i.e
[code]
Could you please try and see if helps to fix the issue?

Also, would be interesting to see what would be the MAX value

[2022-05-08 18:45] pican79 commented on #54
Thank you very much, @rusq,  for the new version.

Using v2.0.0-beta.2, I was able to export the thread with 800+ messages successfully.
I didn't need to modify the default value for the new `rpr` parameter.

I also tried with the `-f` parameter.
It successfully exported the 500+ image files (weighing ~65Mb in total).

Would my slow internet connection explain why I encountered the "500 error" wit

[2022-05-08 23:11] rusq commented on #54
I can only guess, but my guess is that there's something like golangs "context timeout" on that handler, once the request comes, it records the start time, then queries the database, if the database operation exceeds this timeout, the database operation terminates, and the handler returns 500 Internal Server Error.  I don't think it's related to the slow internet connection.

I'm glad that it's re

[2022-05-08 23:11] #54 closed

[2022-05-15 07:53] alexmayberry opened #61 "Program won't open on Windows"
**Describe the bug**
When I try to run slackdump.exe, a window opens and then immediately disappears.

**To Reproduce**
I open the file.

**Expected behavior**
I expect the program to open and run but there seems to be a compatibility issue that the windows compatibility wizard can't identify.

**Desktop (please complete the following information):**
 - OS: Windows

**Additional context**
Sorry, I

[2022-05-15 07:55] rusq commented on #61
Hey @alexmayberry , no worries.

Which version are you using?

[2022-05-15 08:14] rusq commented on #61
Probably the documentation isn't clear enough - you need to open the application in the command line prompt.

https://github.com/rusq/slackdump/blob/master/doc/README.rst#id2

Between items 2 and 3 - it should read "open Command Prompt"

Then follow one of these guides:
- List users: https://github.com/rusq/slackdump/blob/master/doc/usage-list.rst
- Dump channel: https://github.com/rusq/slackdump/

[2022-05-17 09:23] glowinthedark opened #62 "User list does not include custom fields"
**Describe the bug**

The command `slackdump -v -list-users` does not include the custom fields in user profiles.

For example, a request of the form
https://<SUBDOMAIN>.slack.com/api/search.modules?_x_id=1111111-11111111.551&_x_csid=2222-33333&slack_route=12345678&_x_version_ts=ABCDEFGH&_x_gantry=true&fp=7d

returns profile data in the form

[code]

The key `fields` is not present in the output o

[2022-05-18 09:22] rusq opened #63 "Slack-export compatibility"
v2.0.0-rc

- [x] Seems it [causes slack-export to crash](https://github.com/hfaran/slack-export-viewer/issues/148)
- [ ] Also, reports of inability to import the export into newly created workspace.

[2022-05-18 09:23] rusq opened #64 "Presense"

[2022-05-20 00:37] #61 closed

[2022-05-21 04:51] rusq commented on #62
I've checked the API and it doesn't appear that one can fetch the custom fields using the bulk API call to get all users.  I'll have a look.

[2022-05-26 00:56] rusq opened #67 "+ characters in d cookie value"
### Discussed in https://github.com/rusq/slackdump/discussions/65

<div type='discussions-op-text'>

<sup>Originally posted by **pican79** May 26, 2022</sup>
Hi,
I've just discovered that if the d cookie value contains 1 (or more) + character, I always get the invalid_auth error when I use the manual authentication.
NB: my Slack workspace uses SSO.
To avoid that problem, I have to urlencode the ch

[2022-05-27 11:05] akashDash458 opened #68 "Unable to run the script"
**Describe the bug**
`go get` command is [deprecated](https://go.dev/doc/go-get-install-deprecation) since v1.17, `go install` command is now being recommended instead.
`go install` doesn't support replace directives that are being used in go.mod file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `go install github.com/rusq/slackdump/v2@latest`

**Output**
`go: github.com/rusq/slackdu

[2022-05-27 13:44] rusq commented on #68
Thank you, I’ll have a look and update the docs.

On Fri, 27 May 2022 at 21:05, Akash Dash ***@***.***> wrote:

--
Kind regards,
Rustam Gilyazov

[2022-05-27 23:53] omarcostahamido commented on #63
_fuhyoo!_
you're also using slack-export-viewer! I wish you had noted it on the readme somewhere.
So, the only way I was able to make this sorta work was by commenting out lines 253 and 254 on reader.py, AND by filling in the `name` and `name_normalized` fields on the `channels.json` exported file.
Hope this helps in any way...

[2022-05-28 00:30] rusq commented on #63
Hey @omarcostahamido , haha, yeah, someone has requested slack-export compatibility a while back, so ATM I'm sorting it out.  Thank you for the suggestion, that's helpful!

[2022-05-28 00:53] rusq commented on #63
Submitted PR in the upstream to fix the KeyNotFound exception

[2022-05-28 01:00] rusq commented on #63
Checking `name` and `name_normalized` - the problem seems to be originating from these 3 facts.
1. Users do not have "name" and "name_normalized" populated.
2. Original Slack Workspace Export does not export users
3. Slack-export does not expect to see users in the list.

I think for this particular case I'll just populate the name and name_normalized with user names, when available.

[2022-05-28 03:42] rusq commented on #63
This commit fixes the population of `name` and `name_normalized` https://github.com/rusq/slackdump/commit/eb604e95dc4c43e9cf7d7d755ac81ec75bb1fc3c

[2022-05-28 06:39] fdev commented on #63
According to the [docs page](https://slack.com/help/articles/220556107-How-to-read-Slack-data-exports) I found, the official Slack Export contains:
* `channels.json` for public channel messages
* `groups.json` for private channel messages
* `dms.json` for direct messages
* `mpims.json` for group direct messages
* `users.json` for members

This tool currently only exports `channels.json` and `users

[2022-05-28 11:04] rusq commented on #63
@fdev thanks for the info, great finding.  That's probably only available on an enterprise plan? I guess the only problem here would be to figure out the directory structure for those `dms`, `groups` and `mpims`.  I won't hold my breath, but if anyone reading this thread could share the output of the `tree` for such an archive, it would really help.

[2022-05-28 11:08] rusq commented on #63
- [ ] mention slack export in docs

[2022-05-28 12:07] omarcostahamido commented on #63
_haiyaa!..._
put checkbox item on OP todo list!

[2022-05-28 12:08] omarcostahamido commented on #63
@fdev great catch. Thanks!

[2022-05-30 12:31] rusq commented on #63
Channel split implemented in 36728b5f33910

[2022-05-31 11:11] rusq commented on #67
Fixed by #71

[2022-05-31 11:11] #67 closed

[2022-05-31 11:14] rusq commented on #63
Changes are in master, if someone wants to have a squiz

[2022-05-31 11:16] rusq opened #72 "Update attachment links to point to downloaded files."
slackdump is incredibly helpful to me. Many thanks for building this utility!

I have a question about parsing the `.json` output and the example python code helped me greatly. Currently, a http link is recorded for attached files. Is there a way of automatically downloading attached files (such as images, videos and text files) so that they also display nicely in the python output?

I also wonder

[2022-06-05 13:17] #72 closed

[2022-06-06 07:16] #63 closed

[2022-06-06 07:19] rusq commented on #63
Slack export compatibility is resolved.  If the issue with importing ZIP files persists, will open another issue.  Thank you for your contribution [@neznakomec](https://github.com/Neznakomec) @omarcostahamido @fdev  :)

[2022-06-11 03:11] rusq opened #81 "Build systems is acting up"
https://github.com/rusq/slackdump/actions/runs/2478509147, fix it some time.

[2022-06-18 05:37] shotesmagotes opened #83 "`go install` gets error"
**Describe the bug**
I am trying to make use of this package as a library, and installing produces an error

[code]

**To Reproduce**
1. `go install` / `go build`

**Expected behavior**
Successful install

**Desktop (please complete the following information):**
 - OS: macOS monterey

[2022-06-18 05:43] rusq commented on #83
If you’re using it as a lib, try “go get” instead of go install. If go
install is really what you want, then use “git clone”, then “go install
./cmd/slackdump” from the project directory.  There’s a module replacement
in go.mod that causes this behaviour

On Sat, 18 Jun 2022 at 15:37, shotesmagotes ***@***.***>
wrote:

--
Kind regards,
Rustam Gilyazov

[2022-06-18 16:44] shotesmagotes commented on #83
Hmm even after `go get` my example won't build.

[code]

go.mod:

[code]

[2022-06-18 23:22] shotamakino commented on #83
I actually don't see `OptionCookieRAW` in slack-go/slack code. I'm wondering how the builds are completing on GitHub actions

[2022-06-19 00:50] rusq commented on #83
That's a good one, thanks for raising it.  Seems no one tried to use this as a library since the beginning.

Could you try adding this line to the end of your go.mod file please?
[code]

The `OptionCookieRAW` is a modification I made to the original slack library (the one which is used in this project is `github.com/rusq/slack`).

[2022-06-19 03:07] shotesmagotes commented on #83
thanks!

[2022-06-19 03:07] #83 closed

[2022-06-19 10:26] rusq commented on #83
Documented the usage in #84, thanks for your help @shotesmagotes

[2022-06-30 07:41] zarkdav opened #87 "JSON marshalling error during export"
**Describe the bug**
Using v2.0.0 I get the following error in the middle of the export of my workspace:
channels: error: failed dumping "" (DHRCM1N81): json: cannot unmarshal number into Go struct field Message.messages.blocks of type string

The channel ID is the one from the outlook_calendar. I still get the error after disconnecting from Slack. How can I exclude this channel to finish the expo

[2022-06-30 08:14] rusq commented on #87
Thanks for your report, of course.

Also, I'm keen to learn more about the outlook_calendar to do a proper fix for that - not just exclude -  is this some custom integration or publicly available app?

[2022-06-30 08:28] zarkdav commented on #87
Indeed, it's a publicly available app:
https://slack.com/app-pages/outlook-calendar

Let me know if I can help get further debug information.

Le jeu. 30 juin 2022 à 10:14, Rustam ***@***.***> a écrit :

[2022-07-02 10:19] rusq commented on #87
Fixed in https://github.com/rusq/slackdump/pull/88

Once merged, I'll make a v2.0.1 release, that will include this fix.  You'll be able to exclude the problematic channel by specifying it's ID or URL on the command line, like so:

[code]
(note the "^" prefix, it tells slackdump to exclude the channel)

I've also introduced "@" prefix, so one can prepare the list in a file, and include it like thi

[2022-07-02 15:53] zarkdav commented on #87
Hi,

First of all thank you for the patch, looks like it will work great! I agree, it must be the specific content from the bot that is generating the error.

On your last question, with 2.0.0 I get very limited content on the generated json file, but at the same time I disconnected the app and set the channel to purge after 1 day, so that might be the reason:
`{
  "name": "",
  "messages": null,

[2022-07-03 02:59] rusq commented on #87
No problem :)

Thank you for checking, it looks like an empty export indeeed, whatever was causing the issue is gone.

It's a good thing that you raised this issue - I should have implemented the channel inclusion/exclusion from the start. It also allowed me to revisit the way that the export was done, something I've been putting away for a long time.

Here's the windows build: [slackdump-v2.0.1-w

[2022-07-03 02:59] #87 closed

[2022-07-03 03:08] rusq commented on #81
This seems to be resolved, will reopen if reoccurrs.

[2022-07-03 03:08] #81 closed

[2022-07-18 19:37] csaket opened #90 "Export max size limit? "Bad magic number for file header""
**Describe the bug**
I am exporting a bunch of channels, DMs etc. The export finishes without errors.
When I try to open the zip file created, I get this error.
[code]
Other software gives the error in the title.

One thing I have noticed is that the zip is roughly 1 GB in size in size, hence the question on size limits.

I have not had the issue with exporting a couple of channels and DMs where t

[2022-07-19 01:52] rusq commented on #90
Hey @csaket thanks for reporting this.

That's interesting, the last chunk of output is really helpful - looks like there's a concurrency issue - the main thread completes the export and closes the handles, and the download workers still try to update the file, which has already been closed by then.  I'll have a look.

[2022-07-19 10:11] rusq commented on #90
@csaket This should be fixed, could you please retry the "a smaller export with the trace option" with [v2.0.2](https://github.com/rusq/slackdump/releases/download/v2.0.2/slackdump-v2.0.2-windows-amd64.zip)?

Trace option is not strictly necessary - it is mostly used for debugging (generates a `trace.out` file) and does not add to the logging output.

More verbose logging can be achieved by runnin

[2022-07-19 17:11] csaket commented on #90
Hi, the smaller export worked. No errors while running dump and I was able to use the viewer and could see the messages. The embedded images though do not show up.
I ran a larger export which completed and is ~312MB and it did not show any error messages even with a `-v`

error I get when trying the viewer:
`zlib.error: Error -3 while decompressing data: invalid stored block lengths`

Trying with

[2022-07-19 20:36] rusq commented on #90
Hey @csaket, thank you for checking.  I gotta ask - would you be willing to share a trace file for the failing session (my private dropbox link: https://www.dropbox.com/request/eEK5YK1srbvXPyBmnvys)?  I can see that for some reason it closes the file before it - trace file would give me the better understanding when that happens.

**Disclosure**:
- The trace file WILL contain the slack workspace n

[2022-07-19 20:43] rusq commented on #90
Speaking of embedded images,  I investigated on this some time in the past.  The reason they work with original slack exports is:
- Slack does not save the files into the export archive, but generates a special `xoxe` token and adds them to each and every file link within the export archive, while files retained on the slack server.  The link looks like "https://slack.com/..../file.jpg?xoxe=...exp

[2022-07-20 12:08] rusq commented on #90
@csaket I should have mentioned this in the beginning, to **get the job done** in this case, it is not necessary to use "zip" file for export, you can run it without ".zip" suffix, and it will save in the directory of your choice, i.e. to save the data to "`some_dir`", start it like this.  It won't be affected by this issue:
[code]

I wasn't able to reproduce the issue locally, but that's most lik

[2022-07-21 11:06] rusq commented on #90
@csaket No worries, and thanks.

I was able to find bigger workspace, but so far I wasn't able to reproduce the issue with the latest master build, tried locally and in windows 8 VM.

Would you be able to run again the problematic export using the attached version? (compiled from latest master for win64
[slackdump-master-win64.zip](https://github.com/rusq/slackdump/files/9158757/slackdump-master-w

[2022-07-21 12:04] rusq opened #93 "Panics on 2GB+ ZIP archives"
**Describe the bug**
v2.0.2 Panics on huge archives in `bufio.go`
[code]

Archive size:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `go run ./cmd/slackdump -f -export 'test.zip' https://x.slack.com/archives/x`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Output**

[code]

**Desktop (please complete the following information):**
 - OS: m

[2022-07-21 12:07] rusq commented on #90
Practically, it panics on 2.3GB archive, see: https://github.com/rusq/slackdump/issues/93

[2022-07-21 12:44] rusq commented on #93
Until this is fixed, use `-export dir` or `-base dir` parameter for large exports (as opposed to "-export file.zip" or "-base file.zip")

[2022-07-22 14:00] jmgarnier opened #95 "Export to Markdown"
**Describe the solution you'd like**
[code]

with images

**Describe alternatives you've considered**
I can find a tool which convert text to markdown.

**Additional context**
I believe there will be go libraries to convert Slack format (HTML in json?) to Markdown

[2022-07-22 20:03] csaket commented on #90
I used this version to try and generate the export in zip format and it completed without any error.
The size though again stopped at 1 GB and the zip is unusable by windows/slack viewer.
7-zip can open it with errors and I see only 2 channels out of the many that I was trying it with.

HTH

[2022-07-22 23:09] #93 closed

[2022-07-23 01:51] rusq commented on #90
@csaket yesterday I was able to reproduce the issue locally on a larger slack workspace, and have found a race condition, described in the #94, the problem was with the way the files were created inside the ZIP archive by multiple goroutines (by default there's 4 goroutines that handle file downloads).  If more than one of those was calling "Create" to add a file to a ZIP archive at the same time,

[2022-07-23 01:58] rusq commented on #95
I could certainly look into this in future.

Had a look at what's there in the internets, found this app: https://github.com/ohtake/slack2md that converts slack export to markdown files.

I ran it for the export of my slack workspace and it generated a bunch of MD files:
[code]

Have you tried it?

[2022-07-25 08:44] rusq commented on #90
@csaket I'll close this for now, please reopen if it doesn't work for you.  Thank you for contribution, I appreciate your help with this!

[2022-07-25 08:44] #90 closed

[2022-07-25 13:28] jmgarnier commented on #95
Thanks for the reply :) My goal is to turn a Slack thread to a wiki page for documentation purpose.

`slack2md` includes the messages author & time, which is a lot of noise.

[2022-07-28 22:59] sjuneja09 opened #97 "AttributeError when opening export with slack-export-viewer"
I just setup slackdump and slack-export-viewer today. The export was successful but when I try to open it with the viewer, it errored out with an AttributeError. Any ideas about this?

20220728.zip extracting to /var/folders/9q/nm0mln8j3m38fk8621xn7l580000gn/T/_slackviewer/4ccc26e8ef2c6b952e48cbe2c3639cc1aa885400...
20220728.zip extracted to /var/folders/9q/nm0mln8j3m38fk8621xn7l580000gn/T/_slackv

[2022-07-28 23:16] rusq commented on #97
This looks like slack-export-viewer issue: https://github.com/hfaran/slack-export-viewer/issues/157

[2022-07-28 23:16] #97 closed

[2022-07-29 00:07] sjuneja09 commented on #97
Thanks for the pointer, the resolution there fixed it!

[2022-07-29 14:21] csaket commented on #90
Hi @rusq , Thanks for checking this.
I can confirm that this has taken care of the problem and I can get the export done without issue and view the export without any issue.

Thanks again

[2022-07-30 23:53] rusq commented on #95
@jmgarnier nice idea! I don't think I completely understand how it should look like?  Could you elaborate more please?

When you say "thread" - are you referring to a Slack thread replies, or the whole Conversation (channel messages + thread messages)?

Should it have the same format as current "text mode" dump, only in Markdown?

[2022-08-12 09:38] luvwinnie opened #105 "Possible to export slack data with API token for migrating to mattermost?"
**Is your feature request related to a problem? Please describe.**
Currently I'm trying to export the all slack messages including private and group message to mattermost.

**Describe the solution you'd like**
I think having an option when API token(Admin) is avaiable to make a export full workspace would be great with this tool.

[2022-08-12 10:58] rusq commented on #105
Hey @luvwinnie thank you, it seems Mattermost is gaining popularity - this is the second time someone mentions it.  I can implement a single token login, i.e. admin token, however my biggest problem would be testing it.  I'll have a look.

[2022-08-12 11:08] rusq opened #107 "Mattermost export compatibility"
as per https://t.me/slackdump/185 investigate the format of Mattermost compatible export (the one that includes attachments).  Tool name: slack-advanced-exporter

[2022-08-12 11:10] luvwinnie commented on #105
@rusq currently I have tried export the data from official slack website and use [slack advanced exporter](https://github.com/grundleborg/slack-advanced-exporter) to link the email address and attachments to the exported zip file. It successfully imported to mattermost. It seems like if a full export data with private and group chats need to be a business member of the slacks. I was thinking maybe

[2022-08-12 18:12] ChenSun-Phys commented on #107
Hi, I'm in the middle of testing [slack advanced exporter](https://github.com/grundleborg/slack-advanced-exporter). In particular, I'm trying to supply emails and attachments to the Slackdump export. It seems that the emails can be correctly fetched yet the attachments are not downloaded properly.

Test 1:
`./slack-advanced-exporter -i ../official_export.zip  -o ./official_attachments.zip fetch-at

[2022-08-12 18:16] ChenSun-Phys commented on #105
Doing some similar testing here in #107. @luvwinnie did you try to run slack advanced exporter with the Slackdump export by any chance? Any luck in getting the attachments filled there? Thanks.

[2022-08-12 20:00] ChenSun-Phys commented on #107
Here's a clue. There's some difference when `grep`-ing the same file ID in the Slack official export and the Slackdump export.

Official export:

[code]

Slackdump export:

[code]

Note that "url_private" and "url_private_download" are different as Slackdump doesn't contain what I assume is the token (the `?t=...` part.)

It seems that it's exactly either "url_private" or "url_private_download" is

[2022-08-13 00:22] rusq commented on #107
Hey @ChenSun-Phys thanks for your investigation, it seems you solved it.

When I was running the Slack Export (when implementing export function), I noticed the following:
1. When export is requested, slack generates a `xoxe-` token
2. Slack appends this token to each attachment URL.

I think the first option in this case would be to provide an additional parameter that allows one to specify some

[2022-08-13 09:19] ChenSun-Phys commented on #107
Thanks for the comment @rusq . I realized that the token was generated during the export on Slack.com. This is displayed on the page where the export can be downloaded.

For now, I just wrote a short python script to replace the token to the `Slackdump` export. It works well with `slack-advanced-exporter`.

[2022-08-14 03:19] luvwinnie commented on #105
@ChenSun-Phys I haven't test with slackdump, I would like to try it later.

[2022-08-14 04:11] luvwinnie commented on #107
For my slack channel it seems like work with no problem.

Is it take time to implement to export with API Token?

[2022-08-14 05:54] rusq commented on #107
I was planning to do it yesterday, but quite busy moving house, most likely I will look at it closer to the end of next week. @ChenSun-Phys has mentioned that had made a python program that updates the JSON data in the message json - maybe if he could consider committing  it to "examples" of this repo, or share it some way otherwise,  it would be a quick solution for your problem.

[2022-08-14 11:30] ChenSun-Phys commented on #107
Here's my quick dirty fix. I'm attaching my regex script below. I used it to migrate from Slack to Mattermost with success. Feel free to ping me about possible issues if you're in a similar transition process, be it related to this token issue or not.

[code]

[2022-08-14 13:00] luvwinnie commented on #107
Thank you for the script.I would like to take a look with it.

I have made an exporter with python by using the API TOken with full access permission.
Maybe this repo exporter should include members list in the channels/mpims/groups json.

https://gist.github.com/luvwinnie/e985fe90ece2c2aaf6630310a33bad8d

[2022-08-14 13:48] ChenSun-Phys commented on #107
Awesome the script looks good, although I haven't got time to test it carefully. Adding it through a PR sounds like a good idea.

[2022-08-15 18:11] ChenSun-Phys commented on #107
Another thought is that perhaps it's easier to get away with the token requirement for downloading the attachment altogether. This is based on the observastion that if I put the "url_private_download" or "url_private" value **without the token**, I could download it if I previously have already logged into the workspace in the same browser.

Since `slackdump` is based on EZ-Login 3000, it might be

[2022-08-16 13:29] jagarop opened #108 "not dumping users with guest role"
**Describe the bug**
[Guest users ](https://slack.com/help/articles/202518103-Understand-guest-roles-in-Slack) information is not being dumped to users.json.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a workspace with guest/multi-channel guest users
2. Dump it
3. Check users.json
4. All their messages will show with only their ID in a full dump, and users.json doesn't have a record

[2022-08-16 14:00] pawelgnatowski opened #109 "Ignoring errors"
**Describe the bug**
while bugs are encountered, export process terminates
**To Reproduce**
Steps to reproduce the behavior:
1. Run slackdump like this '...'
`slackdump -f -export MyDump @channelList.txt`
**Expected behavior**
Continue or prompt if to ignore error.
**Output**
2022/08/16 13:53:39 application error: export error: failed to dump "xyz" (xxx): callback error: failed to dump channel xxx

[2022-08-16 15:59] csaket opened #110 "channels.json empty/null"
**Describe the bug**
When running slackdump, channels.json has `null` as the only content.
This results in the export not being usable with a viewer.

**To Reproduce**
Steps to reproduce the behavior:
1. Run slackdump like this './slackdump -v -export bug -download' with 1 or more channels ids.

**Expected behavior**
Correct channels.json generation.

**Desktop (please complete the following infor

[2022-08-17 02:32] rusq commented on #109
Hey @pawelgnatowski , thank you for your report and glad that you found this tool useful.

I'll see what I can do with this.

[2022-08-17 02:34] rusq commented on #110
Intersting, I had never had an emtpy channels output:

1. are you running export on the full account or guest?
2. If you run `./slackdump -c` does it list the channels?

[2022-08-17 05:44] rusq commented on #109
1. It seems that this error is propagated from the slack-go/slack library (there's no place in the slackdump code, where that calls the Atoi) and is related to JSONTime type. That's bad news, because if it was our code, it would be possible to omit the particular field value, with slack library, we'll need to sacrifice the whole batch of messages (`ConversationsPerReq` is the maximum, but API may

[2022-08-17 06:09] pawelgnatowski commented on #109
You may be right - i actually have tried full export first but due to another error and sheer size of 5k channels i wanted to limit the amount of channels, the only way i found is by providing channel list.
BTW. Is there any way to get saved-items (kind of starred elements?) and mentions and reactions - this is how i build my MVP list which i do not see exported anywhere.

Command:
`slackdump.exe

[2022-08-17 06:22] rusq commented on #109
Ah, it makes sense now.  Re starred items - no, for now Slackdump is quite simple - only gets channels, users, and conversations.

1. Starred items (i just checked) is a separate [api call][2].  It's actually a very good feature suggestion.
2. There's no dedicated API to get mentions, as they're just a markup within the message,
3. but there's a [reactions.list API endpoint][1] which, similar to s

[2022-08-17 06:52] pawelgnatowski commented on #109
sounds good, any ETA on the 1,3 - need to know how dirty i need to make my hands, as time window is closing fast. btw - i tried slack export viewer - i guess it is either full export or it does not work :(
but that i guess could tackle at a later time... damn i love Slack.

[2022-08-17 06:55] rusq commented on #109
Sorry, no ETA on this - i do it in my free time, features are plentiful, and I got only two hands 😂 But I'll see what I can do

[2022-08-17 06:56] rusq commented on #109
When I released it open source I hoped that there'd be people contributing, as it seems to be helpful, but I guess the time hasn't come yet.

[2022-08-17 07:10] pawelgnatowski commented on #109
wish i could - haven't picked up Go yet.

[2022-08-17 07:12] rusq commented on #109
That's no problem, Pawel :)  Feature suggestion or bug report are also great contributions, feedback loop is very important.

[2022-08-17 07:19] pawelgnatowski commented on #109
i definitely must go for 1 & 3 which means i'll probably use node or python for it. Can share some lessons learned for the APIs you have mentioned. Thanks for doing this project. Kudos!

[2022-08-17 07:19] rusq commented on #109
Thank you :)

[2022-08-17 12:00] rusq commented on #109
@pawelgnatowski I have made a quick and not so dirty patch to my fork of the slack library that will treat "null" as zero unix time (Jan 1,1970), and build a windows binary out of it,(attached
[slackdump-2.1.2-null-fix.zip](https://github.com/rusq/slackdump/files/9359268/slackdump-2.1.2-null-fix.zip)
).  Could you please try it on the problematic channel and see if that works?

[2022-08-17 12:02] rusq commented on #109
Also, I don't think that ignoring this kind of errors will work - each api call returns a next token, that might be nil in case that the error occurs, so it would not be possible to get the next "page".  Let's see if the quickfix from my previous comment works.

[2022-08-17 12:11] rusq commented on #107
@ChenSun-Phys I agree, that would be the best approach.  I ran the slack-advanced-exporter, and examined the structure, tomorrow I'll have some time to start working on this.

[2022-08-17 12:29] rusq commented on #108
Hey @jagarop, I'm trying to reproduce this, as my test workspace is on free account, I'm not able to invite guests, but I have one workspace where I have a guest account.

What I've done so far - I exported a workspace where I'm a "guest", and users.json indeed does not contain some of the users, which are present in the channel conversations, and are resolved correctly by slack client.

I'll see

[2022-08-17 12:35] rusq commented on #44
@craigrandall sorry, it's taking me obscene long time to get to this.

Let me ask - do you see it as a separate mode, i.e. `slackdump -emoji` and it would dump the json definiton of those emojis along with png/gif files for them?

[2022-08-17 13:43] pawelgnatowski commented on #109
can't download it, blocked download - virus detected ;]

[2022-08-17 13:46] pawelgnatowski commented on #109
1. ok -  what if you change pagination size to mby ommit offending message and still get a token - or am I missing something?
2. sounds reasonable.

[2022-08-17 14:46] craigrandall commented on #44
No worries! This is open source after all. I appreciate all of your hard work--as you can get to it. Thank you!

Yes, I did see it more as a separate mode since it is somewhat orthogonal to channel content--similar to a user list. In terms of output, yes, that is roughly what I envisioned, where GIF would include animated support, if applicable.

Thanks for asking

[2022-08-17 17:42] csaket commented on #110
Must have been a temporary glitch for our slack account.
I am able to get the data correctly now.

[2022-08-17 20:26] rusq commented on #109
https://www.virustotal.com/gui/file/089be6d45ee681e8936d8d7b98c2e471d5e3bea887b509e0e7b332d592585388?nocache=1

Seems like a false positive?  Anyway, I can understand the lack of trust.

Here are the changes in slackdump:
https://github.com/rusq/slackdump/compare/master...i109-qf

and here are the changes in the slack lib fork:
https://github.com/rusq/slack/compare/master...null-time

Would you be

[2022-08-18 15:35] csaket opened #111 "attachments/images preview/thumbnails download"
**Is your feature request related to a problem? Please describe.**
Thumbnails for images in channels etc are not downloaded and instead refer to the original thumbnail on slack.
Due to this when viewing the messages in the group, the thumbnails are broken and do not display due to CORB issues and mimetype issues.
Additionally, expecting an archival tool to pull down all such assets or at least hav

[2022-08-18 15:55] jagarop commented on #108
Hello @rusq, thanks for taking a look at this issue, really apreciate!

If you need anything else from me that would help on this matter, please let me know.

[2022-08-19 08:42] rusq commented on #108
So I investigated quite a bit on this - the Slack Client calls a set of undocumented Slack edge APIs in order to retrieve the names of the users.  I'm currently experimenting with this and made some progress, but it's far from completion.  It is the same APIs that mentioned in #64.  I'm parking it for now, as I think that implementing Mattermost export compatibility would take less time, and there

[2022-08-19 12:08] rusq commented on #107
Hey @ChenSun-Phys , i have implemented the mattermost export format support in the https://github.com/rusq/slackdump/tree/i107-mattermost branch

Would need to add unit tests before I release it, but if you want to give it a go, i'm attaching [slackdump-mattermost.zip](https://github.com/rusq/slackdump/files/9381941/slackdump-mattermost.zip). Would be keen to hear the feedback?

Run it like this:

[2022-08-19 12:11] rusq commented on #107
@luvwinnie would this address your problem of having an API token in the export? Was the attachments the only reason for having the API token?

[2022-08-19 21:25] rusq commented on #111
Hey @csaket, it is possible to pull the thumbnails along with files.  Biggest question is - where to pull those thumbnails to?

Could you tell more about "thumbnails are broken and do not display":
1. Which program are you using to preview the export?
2. Do you know which directory the program expects to find those thumbnails?

[2022-08-20 06:27] rusq commented on #107
I was able to setup mattermost instance locally and tested, it seems to work, but requires the use of mmetl, still too many steps.

[2022-08-20 06:29] luvwinnie commented on #107
@rusq sorry for late reply, I'm busying on working other projects,I would like to test later.

One more things is that maybe you can try to use the following command to import to mattermost.
I used this to do so.

[code]

[2022-08-20 06:32] rusq commented on #107
@luvwinnie no worries at all.  Thank you for the suggestion - I tried it too, when following the documentation,  it does require the token, so now I do understand the need for this.  But interestingly, it couldn't import attachments even with official export.  Maybe that was some shenanigans of my docker instance, i'll have to mess around with it more.

[2022-08-20 08:16] ChenSun-Phys commented on #107
Sorry for being late to the party. A few Q's/comments
- @rusq did you examine the zip file and verify the attachments are correctly downloaded?
- After you used `mmetl` to convert it to mattermost format, and before using `mmctl` to import, did you create a ./data folder and put the attachments inside it? There's a bug there. See [this issue](https://github.com/mattermost/mattermost-server/issues/

[2022-08-20 09:10] rusq commented on #107
That's alright :)

- Yes, and found a bug where I was chucking files in "__upload" dir, instead of "__uploads" - fixed.
- I performed the following steps:
[code]
I haven't run into the aforementioned issue, and all images were uploaded.

The only issue I had is that my email in the export was the same I used for mattermost account, so it complained, had to edit the `jsonl` file.

[2022-08-20 12:18] ChenSun-Phys commented on #107
Thanks for the follow-up! Indeed, I also saw that the imported accounts cannot have the same email address that's already in mattermost.

Just to be sure, do you still need to generate and add the xoxe token to the export by `slackdump`, or is it automatically added?

[2022-08-20 22:41] rusq commented on #107
No problem :)

No, there's no need for xoxe token, and there's no need to run `slack-advanced-exporter` on the slackdump generated archive, as slackdump creates the `mmetl` compatible export:  all files are placed in "__uploads" directory, which `mmetl` understands.

So the high level steps would be:
1. Run `slackdump -export my_slack.zip -export-type mattermost -download`
2. run `mmetl transform

[2022-08-21 00:57] rusq commented on #107
Binaries available https://github.com/rusq/slackdump/releases/tag/v2.1.2

it's still alpha as there's no unit tests, only manually tested -  releasing for the sake of speed.

I have also updated the doc, adding a [quick guide for mattermost migration](https://github.com/rusq/slackdump/blob/v2.2.0-alpha/doc/usage-export.rst#mattermost-export-quick-guide)

[2022-08-21 10:48] rusq commented on #107
@luvwinnie I've been experimenting with `mattermost import` command, and here are my discoveries:

`mattermost import` seems to understand the `__uploads` directory, however, there are problems:
1. larger files are not being imported
2. small files (i.e. 16 bytes) seem to import fine, and are present in `data/.../*.*` directory, but when trying to access them through the web UI, it reports 404 on

[2022-08-23 20:36] ChenSun-Phys commented on #107
I haven't tried `mattermost import slack` yet but I recall that Mattermost documents recommended `mmctl` over it. Whats the reasoning of using this instead of mmctl?

[2022-08-23 23:23] rusq commented on #107
Out of interest, as doc mentions it and  @luvwinnie pointed to it as well.  It seemed like one step of running `mattermost import` would be easier than doing the `mmetl/mmctl` dance, but the inability to import attachments properly is a showstopper really.

[2022-08-24 15:13] csaket commented on #111
Hi.

I am using the slack-export-viewer to view the export.
The thumbnails are just urls that the json shows as pointing to files.slack.com/...
Unfortunately even the downloaded images are also not shown, the link is incorrect and even correcting it does not work.

Showing a fragment of the message json with annotations

[code]

[2022-08-25 12:08] pawelgnatowski commented on #109
Hey, not about trust, just literally it was blocked by browsers. I will be back in a couple of days and will try then.

[2022-08-26 20:16] jagatheesh opened #114 "What is the binary i need to use for MacOS (Intel) processor"
Tried Installing with all 386 linux/openbsd/netbsd, but not working, giving exec format error. Appreciate any help.

[2022-08-26 21:35] rusq commented on #114
It would help if you could tell what OS are you using?

[2022-08-26 21:36] rusq commented on #114
Could you post output of
[code]

[2022-08-26 22:02] rusq opened #115 "Dumping some obscure thread within the channel returns invalid JSON: invalid character '<' looking for beginning of value"
**Describe the bug**
An error occurs while trying to dump a DM.  Dump runs fine until it meets with the obscure thread.  Looking at the error, it seems that HTML is returned by the API.

User is using browser auth, so all set of cookies is set.

**To Reproduce**
Steps to reproduce the behavior:
1. Run slackdump:
[code]

**Expected behavior**
Channel is saved to JSON.

**Output**
[code]

**Desktop

[2022-08-27 01:31] rusq commented on #114
Sorry, I must be blind!

For MacOS, please download "Darwin build": https://github.com/rusq/slackdump/releases/download/v2.2.0-alpha/slackdump-v2.2.0-alpha-darwin-arm64.tar.gz

It is also mentioned in documentation: https://github.com/rusq/slackdump/blob/master/doc/README.rst#id3

[2022-08-27 01:33] #114 closed

[2022-08-27 01:36] rusq commented on #114
Updated Quickstart to explicitly mention macOS/Darwin

[2022-08-27 05:36] jagatheesh commented on #114
Thanks, Rusq. Mine is a Intel MacOS.

I am getting below error

MacBook-Pro-9 ~ %. /Downloads/slackdump-v2.2.0-alpha-darwin-arm64\ \(1\)/slackdump ; exit;
zsh: **bad CPU type in executable:** /Downloads/slackdump-v2.2.0-alpha-darwin-arm64 (1)/slackdump

[2022-08-27 06:01] rusq commented on #114
Sorry, my bad, this is the correct one for your arch:

https://github.com/rusq/slackdump/releases/download/v2.2.0-alpha/slackdump-v2.2.0-alpha-darwin-amd64.tar.gz

Initially I mistakenly posted arm arch.

[2022-08-27 08:54] pawelgnatowski commented on #109
gave the zip file another  try and it works ^_^, guess M$ updated defender or smth.
tried the faulty channel again:
2022/08/27 10:51:58 error saving "FGHGC2XFG-" to "xxx\\attachments": callback error: download to "xxx\\attachments\\FGHGC2XFG-" failed, [src=]: received empty download URL
process continues though... <3

[2022-08-27 09:02] rusq commented on #109
Thanks!  Looks like there's some malformed file within that channel - there's an ID of this file ("FGHGC2XFG"), but no name, no URL etc.  Very strange.  But glad to hear that it works, I basically modified the slack library to ignore empty JSONTime.  I'll submit the PR to upstream slack library.  If that doesn't get through, i'll just maintain the change in the fork.

[2022-08-27 09:09] rusq commented on #109
I have prepared a tool for #115, that shows the RAW output of the API - can I ask you to run it on that channel, and copy/paste the JSON for that file object with "ID": "FGHGC2XFG".  Would be interesting to see what in the actual fuck is going on over there?
[rawoutput.zip](https://github.com/rusq/slackdump/files/9437607/rawoutput.zip)

It uses the same auth as the slackdump, so you could run it l

[2022-08-27 09:29] pawelgnatowski commented on #109
`{
    "type":"message",
    "text":"ZZZZ)\n\nYYY\n\nHHH?",
    "files":[
       {
          "id":"FGHGC2XFG",
          "mode":"tombstone"
       }
    ],
    "upload":true,
    "user":"XXX7CK4GK",
    "display_as_bot":false,
    "ts":"1551261378.012600",
    "thread_ts":"1551261378.012600",
    "reply_count":2,
    "reply_users_count":2,
    "latest_reply":"1551262603.013800",
    "reply_users":

[2022-08-27 09:37] rusq commented on #109
Very interesting - it looks like it's a "deleted remote file" according to the [this doc](https://api.slack.com/messaging/files/remote#removing)

Probably they are so rare, that no one ever had this special case with the slack lib.  I searched through their issues and was unable to find anything on this.

Thank you!

[2022-08-27 09:38] rusq commented on #109
TODO:
- [ ] Handle tombstone files

[2022-08-27 10:56] rusq commented on #105
I have added the parameter `-export-token` which allows to specify an arbitrary token that will be added to each file in the export.

It is described in detail in the [Export](https://github.com/rusq/slackdump/blob/master/doc/usage-export.rst)

[2022-08-28 11:54] rusq commented on #105
Hey, @luvwinnie - I'll close this issue for now, let me know if you have any issues, and I can reopen it.

[2022-08-28 11:54] #105 closed

[2022-08-28 11:55] rusq commented on #107
@ChenSun-Phys I'll close this as this has been merged, let me know if there are issues, and we can revisit this.

[2022-08-28 11:55] #107 closed

[2022-08-28 12:20] rusq commented on #111
Thanks @csaket , I will have a look.  Last time I experimented with slack-export-viewer I noticed that it doesn't allow to download files, even if the file link is pointing to them.

In scope of this request I think at least the following should be completed 100%:
- [ ] downloading thumbnails (possibly, allow user to specify the thumbnail sizes, i.e. `360,720,900,...`

The other problem is display

[2022-08-29 04:59] yoshimotomasahir opened #119 "Error "failed to dump channel C0XXXXXXX: json: cannot unmarshal number into Go struct field ...""
Slackdump v2.2.0-alpha hangs in the middle.

1. Run `slackdump -export archive.zip -export-type standard -download`
2. Several channel posts and files are successfully stored in a ZIP file (~500 MB)
3. The program hangs with the following error

[code]

The channel name has Kanji charactors, Katakana charactors, alphabets, numbers, and underscores.
This channel has been archived and unarchived sev

[2022-08-29 05:33] rusq commented on #119
Hey @yoshimotomasahir thanks for the feedback :)  It looks like yet another edge case when API returns something that is not expected by slack library.  I have prepared the tool to address these type of problems (this issue looks similar to #109 and #115)

The tool is attached to this comment: https://github.com/rusq/slackdump/issues/109#issuecomment-1229155995

would you be able to run this tool

[2022-08-29 06:32] yoshimotomasahir commented on #119
@rusq
Thank you very much for your quick reply.

I have output slackdump_raw.log from rawoutput.exe.

I've removed the sensitive information, but I think I should not to post it on public github, so I will email you the json text file.

If you can not see it, it's my problem, so don't worry about the issue.

[2022-08-29 10:19] rusq commented on #119
@yoshimotomasahir Thanks for the file that you shared.  I got some good news!  I was able to reproduce the issue, will bee looking into fixing it.

[2022-08-29 10:40] rusq commented on #119
The issue is with this block:
[code]

Block type "date" is not currently supported by upstream library.  These are the supported blocks: https://github.com/slack-go/slack/blob/master/block.go#L11

- [ ] submit a PR to slack lib to enable parsing of date.

[2022-08-29 11:05] yoshimotomasahir commented on #119
Some workflows that can be used with paid subscriptions was set in the channel. It may be related.
https://slack.com/intl/en-gb/help/articles/360053571454-Set-up-a-workflow-in-Slack

[2022-08-29 11:16] rusq commented on #119
@yoshimotomasahir It's quite possible that the bot that sent that message with the invalid type of the timestamp is serialising the timestamp incorrectly as an integer.  I have raised the issue with slack-go/slack (linked above), would be interesting what they'll say.

The issue happens that the type for the timestamp for the RichText Block Element type Date is defined as string (see https://githu

[2022-08-29 12:17] yoshimotomasahir commented on #119
The bot appears to be a bot made by users with using Workflow Builder. I could not access the details of that bot.
It is possible that the users created an inappropriate Workflow.

Workspaces which have the same issues is a paid. So, the issue would not be urgent.

[2022-08-29 17:00] mikeschinkel opened #121 "Support auth for multiple workspaces"
**Is your feature request related to a problem? Please describe.**

I would like to use this with multiple different Slack URLs without having keep logging in to each different one.

**Describe the solution you'd like**
When saving the auth associate it with the URL in the file in which you save it. Then when running `slackdump` with no args and it gets to the Slack Workspace Name prompt, it would

[2022-08-29 17:45] csaket commented on #111
Found an alternative viewer that I have been able to modify and display the downloaded images inline.
https://github.com/bsimpson/slack_viewer
Have not tried the thumbnails yet.

[2022-08-30 10:15] rusq commented on #121
Hi @mikeschinkel , thank you for offering a hand with this.  I think it's a great suggestion.  Right now, the credentials are stored in the `provider.bin` file, as you might have checked already, it's an encrypted JSON file, containing marshalled "auth.SlackCreds".  It shouldn't be a problem to add a "Workspace" member variable to it, and then read this file on start and offer user a choice of sav

[2022-08-30 12:07] rusq commented on #111
Thanks for the update, @csaket - did you use the "standard" format or "mattermost" with the slack_viewer?

[2022-08-30 13:26] csaket commented on #111
@rusq - I have been using the same export from slackdump from the start so I guess that is the standard format.

[2022-08-30 20:14] mootari opened #122 "Simplify manual token extraction steps"
**Describe the bug**

It seems that the instructions for manual token extraction are too complicated. As far as I'm aware dealing with network requests isn't necessary, as the required information can be found in `localStorage`.

This snippet, when executed in the dev tools console, extracts the current team ID from the URL and retrieves the token:
[code]

Or a bit more readable:
[code]

[2022-08-30 20:30] mootari commented on #44
Just in case it's helpful in any way (e.g. for testing purposes), here's a JavaScript snippet that I've been using to fetch the list of custom emojis on the client side, via dev tools:
[code]
This collects the image URLs, but doesn't resolve aliases.

[2022-08-30 20:38] rusq commented on #122
Hey @mootari thanks for the suggestion.  I agree that getting token manually is a pesky process :)

I can see the benefit of getting the token from the browser in a proposed way.  The biggest problem I can see is connecting to the browser, as slackdump is completely separate process.

Possibly the "playwright", which is used for automatic login (EZ-Login 3000) could be used for [connecting to exis

[2022-08-30 20:40] rusq commented on #44
Edge api are dodgy to deal with as there's no documentation, I'll put this snippet to a good use, thank you!

[2022-08-30 20:47] rusq commented on #109
@pawelgnatowski I was trying to reproduce this the other day, the same way I did with #119 (the test code is in the issue I've opened with slack lib https://github.com/slack-go/slack/issues/1104), however I did not get the unmarshal error, until I've added a `"timestamp":null` piece to the file.

1. If you still have the raw_output file that was generated, could you please search it for the string

[2022-08-30 20:47] mootari commented on #122
I didn't. 🙂 I only just started looking into slackdump, haven't even run a single extraction yet.

The above is stuff from an older project (extracting custom emojis manually) which I felt might be worth sharing.

[2022-08-30 20:49] mootari commented on #122
I'm hoping that we can simplify https://github.com/rusq/slackdump/blob/master/doc/login-manual.rst#manual-authentication into a single dev tools console command that will produce the required config format, ready to be copy-pasted.

[2022-08-30 20:59] rusq commented on #122
Thanks, I see :) I implemented the automatic login for the same reason that this issue was created for.

Have you seen [this project](https://github.com/jackellenberger/emojme)?

Before implementing Automatic login, I thought about using the instructions for it https://github.com/jackellenberger/emojme/issues/66.  The author of this repo has another one with a chrome browser extension, which, when

[2022-08-30 21:11] rusq commented on #122
Sorry, tunnel vision - I'm all for improving the docs to simplifying it!

[2022-08-30 21:24] mootari commented on #122
From https://github.com/jackellenberger/emojme#finding-a-slack-token:

Unfortunately the `d` token is an `httpOnly` cookie, which means that we'll never be able to read it with a simple JS snippet. Luckily this seems to be the easier one of the two steps.

[2022-08-30 21:40] mootari commented on #122
Yes, but as stated in [emojime's docs](https://github.com/jackellenberger/emojme#finding-a-slack-cookie), the `d` cookie is `httpOnly` and cannot be read via JavaScript. As far as I'm aware we won't be able to simplify this step via a console script.

The token extraction could probably be slimmed down to three our four steps at most, though.

[2022-08-30 23:15] kjhosein opened #123 "For Slack users with blank display names, include the attribute "display_name": """
**Describe the bug**
_[This is arguably not a bug, but if using the exports as a means to import the data into another tool that expects the Slack format, then it is.]_
If a Slack user's _Display Name_ isn't set, then `slackdump` does not include an attribute for it in the exports.

**To Reproduce**
`slackdump -export <dir> <Channel-ID>` where 1 or more users in the conversation have blank display

[2022-08-31 01:17] mikeschinkel commented on #121
@rusq — Thank you for the quick reply.

Yes, after posting this I ran into a problem with the API returning `invalid_arguments` so I loaded up the code in GoLand to debug it and found `~/Library/Caches/slackdump/provider.bin` on my macOS.

That made me think maybe a solution to this would be to just have different `.bin` files for each Slack workspace, e.g.:?

- `provider-foo.bin` for http://foo.s

[2022-08-31 06:52] mootari opened #125 "When exporting conversations, only export participating users"
**Is your feature request related to a problem? Please describe.**

When a specific conversation is exported via the `-c` argument, the `users.json` file will still contain the entire members directory. In popular Slacks this can easily be megabytes of data even when only a conversation between two members gets exported. This data may also contain PII that I'm not allowed to store outside of Slack

[2022-08-31 07:02] mootari opened #126 "EZ-Login 3000: Automatically dismiss or suppress the cookie banner"
**Is your feature request related to a problem? Please describe.**

The EZ-Login 3000 is amazing and makes the login process dead simple. A very minor downside here is that it creates a fresh browsing context that will always show the cookie consent banner. Depending on the window size the banner may initially cover part of the login form.

**Describe the solution you'd like**

On Slack's own logi

[2022-08-31 07:09] #123 closed

[2022-08-31 07:24] pawelgnatowski commented on #109
`{
            "type": "message",
            "text": "We're starting a data science community ",
            "files": [
                {
                    "id": "FSXXX79LN",
                    "created": 1573757704,
                    "timestamp": null,
                    "name": "Data_Science_Community_of_Practice",
                    "title": "Data Science Community",

[2022-08-31 07:27] rusq commented on #109
Excellent, thank you! Reproduced straight away!

[code]

[2022-08-31 07:52] rusq commented on #109
Created an issue https://github.com/slack-go/slack/issues/1107 and PR https://github.com/slack-go/slack/pull/1106 for the upstream library.

[2022-08-31 08:36] rusq commented on #123
I have merged the change into master, @kjhosein . Can build an executable for you, if you don't have go installed.  Let me know what OS are you using?

[2022-08-31 09:09] pawelgnatowski commented on #109
Btw. The stars and reactions API is super straight forward
Added team and user ids and got what i needed.
Super easy!
Thanks for the tip!

[2022-08-31 12:45] rusq commented on #121
Looks good, @mikeschinkel.

I think it would make sense to implement a workspace manager as a separate command, as user might need a way to reset auth for one or more workspaces, it could be hard for some to find the cache folder and remove the file manually.  Having several make more flexible managing the manually tho, for those who decided to find and remove them manually, or even backup.

The o

[2022-08-31 13:02] ChenSun-Phys commented on #107
Sorry for the slow response. I just tested this in v2.2.0-alpha. It works like a charm.

[2022-08-31 14:20] kjhosein commented on #123
I'm on Linux (Debian) x86.

Thanks so much for the quick response!

[2022-08-31 20:56] rusq commented on #123
No worries! Here you go:
[slackdump-linux.zip](https://github.com/rusq/slackdump/files/9464948/slackdump-linux.zip)

[2022-08-31 22:11] kjhosein commented on #123
Thanks for this. Sorry to have (maybe?) wasted your time, but I had some time and figured out how to build the binary.

What's strange is that my build works and outputs `"display_name": "",`. The one you uploaded doesn't.
Another point (which may not mean much) is my build is larger (13 MB) than yours (8.4 MB).

But at least we know the source code is good.

[2022-08-31 22:53] rusq commented on #123
I know the answers!

1. I made a change on another computer, and on the one I built the binary I haven't run `git pull` 🤦‍♂️
2. Makefile target builds the binary with `-ldflags="-s -w"` which strips debugging symbols from the executable, reducing it's size.

Sorry!  I'm glad you figured that out :)

[2022-08-31 23:08] kjhosein commented on #123
Haha, no worries. Happens to all of us, and all the time too! ;-)

Thanks for all of your help on this.

[2022-09-01 05:49] mikeschinkel commented on #121
Look at `slackdump --help` I only see switches.  I have v2.12.   Are there commands?

I think commands are much better, and I favor [Cobra](https://github.com/spf13/cobra) for that, but I did not think your CLI architecture was designed around commands, so I didn't want to proposed that. Besides, revamping the entire thing would be a lot more scope than the functionality around actual profile swit

[2022-09-01 08:01] rusq commented on #121
Hi @mikeschinkel

Apologies if I made an impression of wanting to chuck in the commands implementation in this issue, it was not the intention.  Of course it's a separate issue and out of scope for this one!

No, not yet :) You are correct regarding that the Slackdump architecture is not built around "commands", and that's why I mentioned that there's a lot of flags that control a behaviour, and I

[2022-09-01 08:03] rusq commented on #109
Hey @pawelgnatowski , sorry, I was too focused on the API issue, and the reactions and bookmarks completely slipped my mind.  I'll create a separate issue for those, not to lose track.

[2022-09-01 08:08] rusq opened #128 "Fetching only starred and/or reacted items"
**Is your feature request related to a problem? Please describe.**
Some people organise their information using stars and reactions.  Currently there's no way to get only the starred and/or reacted items, and this might be a problem on a large workspaces, when the only choice would be to manually assemble the list of items to download, or download the large workspace in full.

**Describe the solut

[2022-09-01 09:17] rusq opened #129 "Switch to commands instead of flags"
There's a repelling amount of command line flags right now, it would make sense to implement the major modes, such as:
- export
- list
- dump (standard)
- etc.

As separate commands.

For example, current invocation for export is:

[code]

would be

[code]

Alternatively, as suggested in #121 could you the https://github.com/spf13/cobra library

[2022-09-01 09:34] pawelgnatowski commented on #109
No prob, like you said, you do it when you do it.
I used your suggestions and just went to Slack api pages and voila.
Anyway, maybe you know of a good way to browse and search the dump?
Would be awesome to also get full text search, also with docs, ppt etc.
Any suggestions/ideas?

[2022-09-01 10:52] mootari commented on #109
@pawelgnatowski Have a look at this discussion: https://github.com/rusq/slackdump/discussions/127

[2022-09-01 15:15] mootari commented on #128
What about context? E.g., if the filter targets a reply, should there be an option to also save the thread up until that point (or alternatively the initial message)?

[2022-09-01 20:57] rusq commented on #128
As I remember every time that conversation.reply is called, even with next cursor, it always returns the first message of the thread, as the first item in the response messages.  It would make sense to fetch prior messages, between the first message, and the thread reply returned by the "starred" items request.

[2022-09-02 12:59] rusq commented on #126
No wonder I haven't seen this banner - it does not appear if one is not in EU (I'm in Australia).  After I connected to a German VPN I saw it

[2022-09-02 13:03] mootari commented on #126
Those banners are so universally present for me, I always forget it's only because of the GDPR.

[2022-09-02 13:22] rusq commented on #126
I wish every site would be so courteous as to detect the country or region and check if this law applies.  This is merged, and it shouldn't be bothering anymore, EZ-login 3000 is even more EZ now :)

[2022-09-02 13:23] #126 closed

[2022-09-05 09:32] mikeschinkel commented on #121
@rusq — 

Very cool.

So here's my plan/schedule.  I just left my most recent contract and will be starting a new one Sept 19. I have to finish a project for a side client, hopefully I can do that in the next few days. Then I hope I can get the change done in 1 day because I need to take a vacation from coding for at least 10 days.

I'll follow up soon, hopefully.

[2022-09-05 10:13] rusq commented on #121
Thanks Michael!  Don't stress out if you won't finish in a day, better take some rest before the new challenges.  I can continue from where you stop

[2022-09-13 14:48] thomasloupe opened #138 "Cross-linking of Slackord and Slackdump"
Hey there!

I'm the developer of Slackord: https://github.com/thomasloupe/Slackord
and
Slackord2: https://github.com/thomasloupe/Slackord2

Many folks have mentioned to me that they really enjoy Slackdump!
I'd love if we were able to cross-link our readme's with a simple link to each other's repositories, as it seems like many come from your repository to mine, and lately I am sending folks over t

[2022-09-13 22:16] rusq commented on #138
Hey @thomasloupe,

Thanks for reaching out - of course, I'm all for it :)  I aimed to recreate the Slack export structure as it is, but as I was doing it from the scattered sources, there might be some inconsistencies, please let me know if there are any remaining compatibility issues that you're aware of that need to be sorted out.

[2022-09-13 22:24] thomasloupe commented on #138
@rusq Thanks!
I'll look into this and get a testbed Slack set up with some additional data I can pull from Slackdump into Slackord2. I will open a new issue with any findings as to keep your issues nice and clean :)

I've added a link to Slackdump on the readme [here](https://github.com/thomasloupe/Slackord2/blob/master/README.md). Keep up the great work!

[2022-09-14 11:13] rusq commented on #138
Hey @thomasloupe,

I updated a README and doc to include links to slackord2: https://github.com/rusq/slackdump/pull/140/files

Will merge shortly!

Thanks again for reaching out, looking forward for cooperation.

[2022-09-14 19:59] thomasloupe commented on #138
As well am I! Thanks for the consideration!

[2022-09-18 20:04] #138 closed

[2022-09-21 11:38] rusq opened #144 "Incorrect katakana in Nihongo channel folder names"
**Describe the bug**
Slack export for JPN contains channel folder names in hankaku, while it should be zenkaku as per [this article](https://phst.hateblo.jp/entry/2022/08/31/210000).

The channel names for attachments, however, are in zenkaku.

This issue was initially mentioned in [this discussion post](https://github.com/rusq/slackdump/discussions/127#discussioncomment-3672288)

[2022-09-21 11:49] rusq opened #145 "Windows ZIP file generation - path separator issue"
This issue exists not to lose visibility of this discussion on mattermost forums:
https://forum.mattermost.com/t/import-from-slack-mmetl-finds-no-posts/14073

[2022-09-22 09:42] rusq commented on #145
Problem with generating ZIP files on windows - possibly path separator issue.

[2022-09-23 23:15] rusq commented on #44
@craigrandall finally! Merged the emoji dump to master, it will be available in the v2.2.0, which I release soon.  Thank you for the wait :)

Need to document it, and add to the UI, for now it can be invoked like this:
[code]

`-base my_emoji.zip` sets the output to `my_emoji.zip`.  It can also be a directory, i.e. `-base some_dir`
`-emoji` sets the emoji download mode.

You can let me know your O

[2022-09-24 02:23] craigrandall commented on #44
Super cool! Thanks. I can wait for the upcoming release. Cheers!

On Fri, Sep 23, 2022, 4:15 PM Rustam ***@***.***> wrote:

[2022-09-27 19:40] #109 closed

[2022-09-27 19:41] rusq commented on #109
Merged the upstream slack library.

[2022-10-08 02:39] rusq commented on #44
Hey @craigrandall, version [2.2.0](https://github.com/rusq/slackdump/releases/tag/v2.2.0) has the `-emoji` flag built in that allows to download the emojis, see [this documentation section](https://github.com/rusq/slackdump/blob/master/doc/usage-emoji.rst).

Thank you for your patience!

[2022-10-08 02:39] #44 closed

[2022-10-08 03:48] craigrandall commented on #44
Outstanding! Will give this release a spin...

On Fri, Oct 7, 2022, 7:39 PM Rustam ***@***.***> wrote:

[2022-10-09 09:21] rusq commented on #144
Sample name:
[code]

[2022-10-09 10:26] rusq commented on #144
Fixed in #151

[2022-10-09 10:26] #144 closed

[2022-10-09 10:55] rusq commented on #144
Released in https://github.com/rusq/slackdump/releases/tag/v2.2.1

[2022-10-09 10:56] rusq commented on #145
Workaround:
- Unzip the export file to a temporary folder
- Zip it again with Windows built in compressor, or any other archiver supporting ZIP files.

[2022-10-10 07:38] rusq commented on #115
No response from the reporter.

[2022-10-10 07:38] #115 closed

[2022-10-10 10:18] rusq opened #153 "Add "file export token" option to the UI"
Currently the option to add an export token to the file URLs is only available via the CLI.

Add it to the UI export mode survey.

[2022-10-10 10:59] #153 closed

[2022-10-15 17:23] OevreFlataeker commented on #111
+1 for the requested feature! Just playing around with the tool. I see that in "standard" mode the images are tried to be loaded from <localhost> (using slack-export-viewer.exe) and get 404. When I export in mattermost mode the original URLs to files.slack.com are preserved but not loaded with the viewer due to CORS.

I'd also like to get a FULL offline copy including all the attachments and every

[2022-10-16 05:19] #145 closed

[2022-10-16 06:20] rusq commented on #111
@OevreFlataeker thanks for the feedback, I'll see what I can do.

I just want to mention that export files are already FULL, if you enable file download, all files are getting downloaded into `attachments` subdirectory (standard) or `__upload` subdirectory (for Mattermost).  The reason slack-export-viewer does not show them is because it does not expect to see files in the archive, as it was built

[2022-10-16 11:05] rusq opened #157 "(export, standard) Attachments directory gets created in the root of the archive for DMs"
**Describe the bug**
(export, standard) Attachments directory gets created in the root of the archive for DMs

**To Reproduce**
Steps to reproduce the behavior:
1. Run `slackdump -export archive.zip -export-type standard -download <DM_URL>`

**Expected behavior**
Attachments dir gets created within the DM dir.

**Desktop (please complete the following information):**
 - OS: [e.g. macOS]

**Affecte

[2022-10-16 11:06] rusq commented on #157
Mattermost export type not affected.

[2022-10-16 12:01] #157 closed

[2022-10-16 13:57] OevreFlataeker commented on #111
Thanks for pointing that out! Those suggestions in https://github.com/rusq/slackdump/issues/111#issuecomment-1229445740 look great! Hope you can get it working! Thanks!

[2022-10-17 10:16] rusq commented on #110
@csaket I found out what's causing it, because stumbled on my own.

When running the export for only DMs, the `channels.json`, which lists the public channels contains just `null`, because there are no public channels requested.

I just submitted the #160 , it fixes this behaviour by initialising channels with empty list.  This will prevent slack-export-viewer from crashing in surprise.

[2022-10-17 10:17] #110 closed

[2022-10-27 11:58] rusq opened #163 "Create the slackdump brew formula for macOS"
It would be convenient to install Slackdump using `brew` command, i.e.:

[code]

Create a brew formula.

I'd greatly appreciate if someone could help me with this.

[2022-10-28 22:24] rusq opened #166 "Support CSV or Text format for Slack Import Tool"
Awesome tool. I've exported to both `json` and `txt` and am now trying to reimport conversations into a new slack workspace but getting various errors (like, format not supported for `txt`). I know importing via json is not supported. For reference, I am trying to follow these guidelines: https://slack.com/help/articles/360035354694-Move-data-to-Slack-using-a-CSV-or-text-file.

I believe I have to

[2022-10-28 22:28] rusq commented on #166
Note to myself

Reference: Slack [import guide](https://sdump.slack.com/services/import/csv)
---
We can import just about any delimited text file from just about any source, as long as it adheres to the following rules:

1.  Each row is a new message.
2.  There are separate columns for: time stamp (Unix time stamp), channel, username, text (**in that order**).
3.  Everything is in a single, uncomp

[2022-10-31 19:54] BwL1289 commented on #166
Commenting to keep updated. Thank you @rusq!

[2022-11-03 09:50] rusq commented on #125
TODO:
- See if the proposal from this discussion can be included #167

[2022-11-14 15:13] ExploWare opened #168 "Google refuses login with Google Auth from built-in Chromium or Firefox"
**Describe the bug**
After entering the name of the workspace, the browser is opened. In this (built-in) Chromium browser, I can select the method of logging in, which in my case is with a Google account. After entering the mail address I get a message that this browser or app is not secure. Like in https://support.google.com/accounts/thread/22873505?msgid=24501976

**To Reproduce**
Steps to repro

[2022-11-20 13:01] rusq commented on #168
Hey @ExploWare, thanks for reporting this.

I tested and confirmed the issue.  Confirmed that it works OK in Firefox, so switched to Firefox (in #169)

Released the v2.2.4 which uses Firefox instead of Chromium.

You can download the updated v2.2.4 from the [Releases](https://github.com/rusq/slackdump/releases/tag/v2.2.4) page.  Please let me know if it works for you?

Sorry for the inconvenience.

[2022-11-20 22:28] rusq commented on #166
Hey @BwL1289, I've implemented a CSV support in the development branch, it's not released yet, but is ready to use, LMK if you want to use it straight away, I'll compile the binary.

You can also check out the `cli-remake` branch and run:
[code]
and load the output.csv.

This function should be fine, but the branch is unstable, so expect the unexpected.

[2022-11-20 22:34] BwL1289 commented on #166
Awesome, thank you so much @rusq.

id like to use it straight away, if possible.

thanks again!

[2022-11-21 00:23] rusq commented on #166
Dev build:

[slackdump-darwin.zip](https://github.com/rusq/slackdump/files/10051113/slackdump-darwin.zip)
[slackdump-linux.zip](https://github.com/rusq/slackdump/files/10051114/slackdump-linux.zip)
[slackdump-windows.zip](https://github.com/rusq/slackdump/files/10051115/slackdump-windows.zip)

[2022-11-21 08:33] ExploWare commented on #168
Hey Rusq,
Thanks. Just tried it, it gets me further, allows me to log in, but it does not complete the process I guess.
After state as in the screenshot attached, I can click 'Sign In' in the right corner, select Google again and it reports me being signed in already. So I just can select a workspace. But nothing gets the slackdump terminal to continue after the 'Please login in the browser' promp

[2022-11-21 08:56] rusq commented on #168
I think it would make sense reopening the issue.  Could you try the manual
login method meanwhile as described in the doc?  I’ll have to setup google
auth on some workspace to try it out, will take some time.

On Mon, 21 Nov 2022 at 18:33, ExploWare ***@***.***> wrote:

--
Kind regards,
Rustam Gilyazov

[2022-11-21 14:31] BwL1289 commented on #166
Thank you sir! @rusq

[2022-11-21 21:38] ExploWare commented on #168
Hi Rustam,
I wanted to confirm the Manual Login method is working.
I wasn't aware of a manual method, thanks for informing me. Perhaps a good suggestion is to advice this step while the built-in browser is open / closed without success

[2022-11-22 12:30] rusq commented on #168
@ExploWare glad it worked!

It is mentioned in the documentation: https://github.com/rusq/slackdump/tree/master/doc#logging-in

[2022-11-22 22:13] BwL1289 commented on #166
Hey @rusq! Receiving the following error when running `./slackdump` command:

`zsh: exec format error: ./slackdump`

Am I missing something glaringly simple? Apologies in advance!

[2022-11-23 01:18] rusq commented on #166
@BwL1289 may be a wrong executable format, could be a manual build glitch (my fault):

which OS are you running on? Is it Linux or macOS?

[2022-11-23 02:47] BwL1289 commented on #166
Sincere apologies - I absentmindedly forgot to mention I'm on mac, and even more absentmindedly was using the linux executable.

[2022-11-27 21:47] levivk commented on #168
Hey, thought

Hey, thanks for the tool! The same thing described here happens for me. The manual method worked as expected.

[2022-11-29 08:33] rusq commented on #168
I think I know what's happening — recently I modified the browser.Auth to clean up non-slack related cookies (see #158), i suspect once I roll it back, it will start working.

[2022-11-29 08:52] #168 closed

[2022-11-29 09:14] rusq commented on #168
Hi peeps, sorry for the hassle, the [v2.2.5](https://github.com/rusq/slackdump/releases/tag/v2.2.5) should fix it! Please let me know if it works now?